@media (max-width: 592px) {
  .service-item-three {
  height:350px;
  }
}

@media (min-width: 592px) and (max-width: 1200px) {
  .service-item-three {
  height:450px;
  }
}
.service-item-three {
  -webkit-box-shadow: 0px 10px 29.7px 0.3px rgba(225, 225, 225, 0.64);
  box-shadow: 0px 10px 29.7px 0.3px rgba(225, 225, 225, 0.64);
  padding: 45px 20px 50px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background-color: #fff;
  z-index: 5;
  height:400px;
}

.service-item-three .icon {
  font-size: 50px;
  color: #0c59db;
  margin-bottom: 35px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  line-height: 1;
}

.service-item-three .title {
  font-size: 22px;
  margin-bottom: 10px;
}

.service-item-three .title a {
  color: #232323;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .service-item-three .title {
    font-size: 18px;
  }
}

.service-item-three p {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.service-item-three .service-link {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  background: #0c59db;
  color: #fff;
  font-size: 14px;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.service-item-three::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(../img/shape/service-dot.png); */
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
  visibility: hidden;
}

.service-item-three:hover {
  background-color: #0c59db;
}

.service-item-three:hover .icon {
  color: #fff;
}

.service-item-three:hover .title a,
.service-item-three:hover p {
  color: #fff;
}

.service-item-three:hover::before {
  opacity: 1;
  visibility: visible;
}

.service-item-three:hover .service-link {
  background-color: #fff;
  color: #0c59db;
}
.myTitle{  line-height: 0.9; }.service-section.service-with-shape-two .section-title {
  position: relative;
  z-index: 1;
}

.service-section.service-with-shape-two .section-title .title {
  font-size: 55px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .service-section.service-with-shape-two .section-title .title {
    font-size: 42px;
  }
}

@media (max-width: 991px) {
  .service-section.service-with-shape-two .section-title .title {
    font-size: 46px;
  }
}

@media (max-width: 767px) {
  .service-section.service-with-shape-two .section-title .title {
    font-size: 40px;
  }
}

@media (max-width: 575px) {
  .service-section.service-with-shape-two .section-title .title {
    font-size: 26px;
  }
}

.service-section.service-with-shape-two .section-title .ring-shape {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.1);
  top: -40px;
  right: 50px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-animation: scale 15s linear infinite;
  -moz-animation: scale 15s linear infinite;
  -o-animation: scale 15s linear infinite;
  animation: scale 15s linear infinite;
  z-index: -1;
}
.service-section.service-with-shape .section-title {
  position: relative;
  z-index: 1;
}

.service-section.service-with-shape .section-title .title {
  font-size: 55px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .service-section.service-with-shape .section-title .title {
    font-size: 42px;
  }
}

@media (max-width: 991px) {
  .service-section.service-with-shape .section-title .title {
    font-size: 46px;
  }
}

@media (max-width: 767px) {
  .service-section.service-with-shape .section-title .title {
    font-size: 40px;
  }
}

@media (max-width: 575px) {
  .service-section.service-with-shape .section-title .title {
    font-size: 26px;
  }
}

.service-section.service-with-shape .section-title .ring-shape {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.1);
  top: -40px;
  right: 50px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-animation: scale 15s linear infinite;
  -moz-animation: scale 15s linear infinite;
  -o-animation: scale 15s linear infinite;
  animation: scale 15s linear infinite;
  z-index: -1;
}

@media (max-width: 575px) {
  .service-section.service-with-shape .section-title .ring-shape {
    height: 40px;
    width: 40px;
  }
}

.service-section.service-with-shape .section-title::before {
  position: absolute;
  content: "";
  height: 145px;
  width: 145px;
  border: 10px solid rgba(255, 255, 255, 0.1);
  top: -10px;
  left: 10px;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  z-index: -1;
  -webkit-animation: rotate 30s linear infinite;
  -moz-animation: rotate 30s linear infinite;
  -o-animation: rotate 30s linear infinite;
  animation: rotate 30s linear infinite;
}

@media (max-width: 991px) {
  .service-section.service-with-shape .section-title::before {
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 575px) {
  .service-section.service-with-shape .section-title::before {
    width: 80px;
    height: 80px;
    border-width: 5px;
  }
}

.service-section.service-with-shape .section-title::after {
  position: absolute;
  content: "";
  height: 80px;
  width: 80px;
  border: 10px solid rgba(255, 255, 255, 0.1);
  bottom: -100px;
  right: 10px;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  z-index: -1;
  -webkit-animation: rotateTwo 30s linear infinite;
  -moz-animation: rotateTwo 30s linear infinite;
  -o-animation: rotateTwo 30s linear infinite;
  animation: rotateTwo 30s linear infinite;
}

@media (max-width: 575px) {
  .service-section.service-with-shape .section-title::after {
    height: 60px;
    width: 60px;
    border-width: 5px;
  }
}

.section-title .title {
  font-size: 35px;
  font-weight: 300;
  position: relative;
  letter-spacing: -2px;
}

/* .comm_sec .section-title .title {
  position: relative;
  top: -90px;
} */

@media (min-width: 992px) and (max-width: 1199px) {
  .section-title .title {
    font-size: 42px;
  }
}

@media (max-width: 991px) {
  .section-gap {
    padding-top: 30px;
    padding-bottom: 60px;   
  }
  .section-title .title {
    font-size: 46px;
    letter-spacing: 0.5px;
    object-fit: contain;
  }
}

@media (max-width: 767px) {
  .section-title .title {
    font-size: 40px;
  }
}

@media (max-width: 575px) {
  .section-title .title {
    font-size: 26px;
  }
}

.section-title.white-color .title-tag,
.section-title.white-color .title,
.section-title.white-color p {
  color: #fff;
}

.section-title.with-right-border .title-tag {
  text-transform: capitalize;
  letter-spacing: 0;
  padding-right: 100px;
  position: relative;
}

@media (max-width: 575px) {
  .section-title.with-right-border .title-tag {
    padding-right: 0;
    padding-top: 10px;
  }
}

.section-title.with-right-border .title-tag::before {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  height: 2px;
  width: 70px;
  background: #0c59db;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 575px) {
  .section-title.with-right-border .title-tag::before {
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    right: auto;
    left: 0;
    width: 50px;
  }
}

.section-title-two {
  position: relative;
  z-index: 2;
}

.section-title-two .title-tag {
  color: #0c59db;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 5px;
}

.section-title-two .title {
  font-size: 70px;
  font-weight: 700;
  text-transform: capitalize;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-title-two .title {
    font-size: 54px;
  }
}

@media (max-width: 991px) {
  .section-title-two .title {
    font-size: 46px;
  }
}

@media (max-width: 575px) {
  .section-title-two .title {
    font-size: 28px;
  }
}

.section-title-two .big-text {
  position: absolute;
  font-size: 180px;
  font-family: "GilroyBold";
  font-weight: 700;
  bottom: 20px;
  left: 0;
  color: #f5f6f8;
  z-index: -1;
  line-height: 1;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-title-two .big-text {
    font-size: 140px;
  }
}

@media (max-width: 991px) {
  .section-title-two .big-text {
    font-size: 120px;
  }
}

@media (max-width: 575px) {
  .section-title-two .big-text {
    font-size: 100px;
  }
}

.section-title-two.text-center .big-text {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section-title-two.text-right .big-text {
  left: auto;
  right: 0;
}

.section-title-two.white-color .title-tag,
.section-title-two.white-color .title {
  color: #fff;
}
.section-title .title-tag {
  color: #0c59db;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 2px;
  z-index: 1;
  position: relative;
  letter-spacing: 1px;
}

.section-title .title {
  font-size: 35px;
  font-weight: 300;
  position: relative;
  letter-spacing: -2px;
}

/* .comm_sec .section-title .title {
  position: relative;
  top: -90px;
} */

@media (min-width: 992px) and (max-width: 1199px) {
  .section-title .title {
    font-size: 42px;
  }
}

@media (max-width: 991px) {
  .section-gap {
    padding-top: 30px;
    padding-bottom: 60px;   
  }
  .section-title .title {
    font-size: 46px;
    letter-spacing: 0.5px;
    object-fit: contain;
  }
}

@media (max-width: 767px) {
  .section-title .title {
    font-size: 40px;
  }
}

@media (max-width: 575px) {
  .section-title .title {
    font-size: 26px;
  }
}

.section-title.white-color .title-tag,
.section-title.white-color .title,
.section-title.white-color p {
  color: #fff;
}

.section-title.with-right-border .title-tag {
  text-transform: capitalize;
  letter-spacing: 0;
  padding-right: 100px;
  position: relative;
}

@media (max-width: 575px) {
  .section-title.with-right-border .title-tag {
    padding-right: 0;
    padding-top: 10px;
  }
}

.section-title.with-right-border .title-tag::before {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  height: 2px;
  width: 70px;
  background: #0c59db;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 575px) {
  .section-title.with-right-border .title-tag::before {
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    right: auto;
    left: 0;
    width: 50px;
  }
}

.section-title-two {
  position: relative;
  z-index: 2;
}

.section-title-two .title-tag {
  color: #0c59db;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 5px;
}

.section-title-two .title {
  font-size: 70px;
  font-weight: 700;
  text-transform: capitalize;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-title-two .title {
    font-size: 54px;
  }
}

@media (max-width: 991px) {
  .section-title-two .title {
    font-size: 46px;
  }
}

@media (max-width: 575px) {
  .section-title-two .title {
    font-size: 28px;
  }
}

.section-title-two .big-text {
  position: absolute;
  font-size: 180px;
  font-family: "GilroyBold";
  font-weight: 700;
  bottom: 20px;
  left: 0;
  color: #f5f6f8;
  z-index: -1;
  line-height: 1;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-title-two .big-text {
    font-size: 140px;
  }
}

@media (max-width: 991px) {
  .section-title-two .big-text {
    font-size: 120px;
  }
}

@media (max-width: 575px) {
  .section-title-two .big-text {
    font-size: 100px;
  }
}

.section-title-two.text-center .big-text {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section-title-two.text-right .big-text {
  left: auto;
  right: 0;
}

.section-title-two.white-color .title-tag,
.section-title-two.white-color .title {
  color: #fff;
}
